<script setup lang="ts">
import { ref, provide } from 'vue'
import MainAppbar from './components/MainAppbar.vue'
import MainManu from './components/MainManu.vue'
// import { useAuthStore } from './stores/auth'
const drawer = ref(true)
const rail = ref(true)
// const authStore = useAuthStore()

provide('rail', rail)
provide('drawer', drawer)
// provide('currentUser', authStore.currentUser)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <MainAppbar></MainAppbar>
    <MainManu></MainManu>

    <v-main class="align-center justify-center" style="min-height: 300px">
      <div class="pa-6"><RouterView></RouterView></div>
    </v-main>
  </v-layout>
</template>

<style scoped></style>
